<mat-toolbar color="primary">
    <span>Cruzeiro do Sul</span>
</mat-toolbar>
<div class="row">
    <!-- <div class="col">
        <div>
            <img src="/assets/images/logo_clube.png" alt="Cruzeiro do Sul" width="150px">
        </div>

    </div> -->
    <div class="row">
        <div class="geral">
            <h1>Autorização de Saída</h1>
            <h2>Clube de Desbravadores Cruzeiro do Sul </h2>
            <p>Preencha o formulário abaixo para autorizar a saída do seu filho(a) do clube de desbravadores.</p>
       </div>
    </div>
</div>