<div class="container">
    <mat-toolbar color="primary">
        <span>Cruzeiro do Sul</span>
    </mat-toolbar>
    <header>
        <div class="row">
            <div class="col">
                <h1>Welcome to the Angular Material Components Demo</h1>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p>This is a simple Angular application that uses Angular Material components.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Click on the links in the navigation bar to see the different components in action.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Enjoy!</p>
        </div>
    </div>
</div>