<h1>Documentação para o Campori</h1>

<p>Todos os participantes deverão apresentar:</p>
<ul>
    <li>
        <span>Cópia autenticada de documento pessoal com foto, RG ou CNH (menores podem apresentar cópia de certidão de
            nascimento autenticada).</span>
    </li>
    <li>
        <span>Fotocópia da Carteira de Vacinação</span>
    </li>
    <li>
        <span> Menores de 16 anos, além dos 2 itens anteriores, deverão apresentar <strong>Autorização de Viagem e
                Acampamento</strong> assinada pelos pais e reconhecida firma em cartório ou com assinatura digital pelo
            GOV.br.</span>
    </li>
</ul>

<span> Estas regras serão seguidas rigorosamente no credenciamento do evento, tanto para adultos quanto crianças, sob a
    pena de não poder participar do evento.</span>
<div class="button">
    <a mat-fab extended routerLink='/formulario' color="primary">
        <mat-icon>description</mat-icon>
        PREENCHER AUTORIZAÇÕES
    </a>
</div>