<div class="button">
  <!-- <button mat-fab extended ngxPrint printSectionId="print-section" color="primary"> -->
  <button mat-fab extended (click)="openPDF()" color="primary">
    <mat-icon>download</mat-icon>
    BAIXAR PDF
  </button>
</div>
<div id="print-section" style="
width: 1000px;
height: 1500px;
text-align: justify;
text-justify: inter-word;
margin-right: 30px;
margin-top: 2em;
padding-left: 30px;
padding-right: 30px;
font-size: 1.5em;
line-height: 1.5em;
font-size: large;">
  <div>
    <img src="/assets/images/image.png" alt="" width="100%">
    <h3 style="text-align: center;"><strong>TERMO DE AUTORIZAÇÃO DE VIAGEM E ACAMPAMENTO PARA MENORES</strong>
    </h3>
  </div>
  <div class="text-autorizacao">
    <p style="padding-left : 1.5em; padding-top: 1em;">
      Eu <strong>{{dados.nomeResp}}</strong>, portador(a) do RG sob n° {{dados.rgResp}}
      {{dados.oeResp}} e inscrito(a) no CPF sob n° {{dados.cpfResp}}, residente e
      domiciliado(a) à {{dados.endereco}}, declaro para os devidos fins que autorizo meu(minha)
      filho(a), <strong>{{dados.nomeDbv}}</strong>, nascido(a) em {{dados.dtNascDbv}},
      portador(a) do RG
      sob n° {{dados.rgDbv}} {{dados.oeDbv}} e inscrito(a) no CPF sob n°
      {{dados.cpfDbv}}, a ser acomodado(a) em barracas durante o período do acampamento e a
      participar
      do evento denominado IV CAMPORI DE DESBRAVADORES organizado pela UNIÃO CENTRO OESTE BRASILEIRA DA IGREJA
      ADVENTISTA
      DO SÉTIMO DIA, que ocorrerá entre os dias 24 e 28 de julho de 2024, nas dependências da Instituição
      Adventista Brasil Central localizada na BR-414, km 411 - Posse d'Abadia, Abadiânia - GO, 72940-000.
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      Autorizo ainda meu(minha) filho(a) a empreender viagem nacional com destino à Abadiânia - GO na companhia
      de <strong>ROZILENE SANTOS C. AUCÉLIO</strong>, maior de idade, portador(a) do RG sob n° 2366988-8 SSP/MT
      e
      inscrito(a) no CPF sob n° 037.932.451-28. Esta autorização é válida por [Período da Viagem], a partir
      desta data, conforme disposto na Lei Federal Nº 8.069/90, art. 83, § 1º, letra “b”, 2.
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      Declaro também que meu(minha) filho(a) está em perfeitas condições de saúde, estando apto(a) a participar
      das atividades propostas.
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      Autorizo os responsáveis pela organização a tomarem as medidas necessárias para a segurança e bem-estar
      do(a) menor, incluindo a autorização para que, em caso de emergência, meu(minha) filho(a) seja atendido(a)
      em qualquer unidade de saúde, pública ou privada.
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      Declaro que li e concordo com todas as informações e condições mencionadas neste termo de autorização.
    <p style="padding: 1.5em;">
      Brasília, {{dataHoje()}}.
    </p>
  </div>
  <p style="padding-left : 1.5em; padding-top: 1.5em;">
    ___________________________________</p>
  <p style="padding-left: 1.5em; margin-top: -1em;">
    {{dados.nomeResp}}
  </p>
  <p style="padding-left : 1.5em; padding-top: -1em;">
    (Reconhecer firma da assinatura ou assinar pelo Gov.br)
  </p>
  <br>
  <br>
  <div class="logo-iasd" style="  text-align: center;">
    <img src="/assets/images/iasd.png" alt="logo" class="logo">
  </div>
</div>