<div class="button">
  <!-- <button mat-fab extended ngxPrint printSectionId="print-section" color="primary"> -->
  <button mat-fab extended (click)="openPDF()" color="primary">
    <mat-icon>download</mat-icon>
    BAIXAR PDF
  </button>
</div>
<div id="print-section" style="
width: 1000px;
height: 1500px;
text-align: justify;
text-justify: inter-word;
margin-right: 30px;
margin-top: 50px;
margin-bottom: 50px;
padding-left: 30px;
padding-right: 30px;
font-size: 1.5em;
line-height: 1.5em;
font-size: large;">
  <div>
    <img src="/assets/images/logo_clube.jpg" alt="" width="200px" class="logo-clube">
    <h3 style="text-align: center;"><strong>AUTORIZAÇÃO PARA ATIVIDADE EXTERNA - ACAMPAMENTO</strong> </h3>
    <h5 style="text-align: center;">CLUBE DE DESBRAVADORES CRUZEIRO DO SUL</h5>
    <h5 style="text-align: center;">IASD CENTRAL DE BRASÍLIA - DF</h5>
  </div>
  <div class="text-autorizacao">
    <p style="padding-left : 1.5em; padding-top: 1em;">
      Eu <strong>{{dados.nomeResp}}</strong>, portador(a) do RG sob n° {{dados.rgResp}}
      {{dados.oeResp}} e inscrito(a) no CPF sob n° {{dados.cpfResp}},
      declaro para os devidos fins que autorizo meu(minha) filho(a) a ser acomodado(a)
      em barracas durante o período do acampamento e a participar do
      Acampamento de Desbravadores, organizado pelo Clube Cruzeiro do Sul da IASD
      Central de Brasília, que ocorrerá nos dias 18, 19 e 20 de outubro de 2024,
      ]nas dependências da Chácara Ninho da Águia
      (Núcleo Rural Boqueirão - Paranoá, Brasília – DF).
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      Declaro também que meu(minha) filho(a) está em perfeitas condições de saúde,
      estando apto(a) a participar das atividades propostas. Abdico judicialmente nesta,
      toda a liderança do clube de Desbravadores por qualquer dano causado a meu filho
      por sua própria atuação. Havendo necessidade, autorizo o atendimento, inclusive
      intervenção médica, para restabelecimento de sua saúde.
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      1. Nome completo do desbravador: <strong>{{dados.nomeDbv}}</strong>
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      2. Tipo sanguíneo: <strong>{{dados.tpSanguineo}}</strong>
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      3. RG: <strong>{{dados.rgDbv}}</strong> | CPF: <strong>{{dados.cpfDbv}}</strong>
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      4. Telefone do Pai/Mãe ou Responsável: <strong>{{dados.telefoneResp}}</strong>
    </p>
    <p style="padding-left : 1.5em; padding-top: 1em;">
      Observações: <strong>{{dados.observacao}}</strong>
    </p>

    <p style="padding-left : 1.5em; padding-top: 1em;">
      Declaro, por fim, que li e concordo com todas as informações e condições mencionadas neste termo de autorização.
    </p>
    <p style="padding: 1.5em;">
      Brasília, {{dataHoje()}}.
    </p>
  </div>
  <p style="padding-left : 1.5em; padding-top: 1.5em;">
    ___________________________________</p>
  <p style="padding-left: 1.5em; margin-top: -1em;">
    {{dados.nomeResp}}
  </p>

  <br>
  <br>
</div>