<div class="container">
  <form [formGroup]="addressForm" novalidate>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Nome completo responsável</mat-label>
              <input matInput formControlName="nomeResp">
              @if (addressForm.controls['nomeResp'].hasError('required')) {
              <mat-error>Nome do responsável é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>RG</mat-label>
              <input matInput formControlName="rgResp">
              @if (addressForm.controls['rgResp'].hasError('required')) {
              <mat-error>RG é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Orgão emissor</mat-label>
              <input matInput formControlName="oeResp">
              @if (addressForm.controls['oeResp'].hasError('required')) {
              <mat-error>Orgão emissor é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>CPF</mat-label>
              <input matInput placeholder="000.000.000-00" formControlName="cpfResp" mask="000.000.000-00">
              @if (addressForm.controls['cpfResp'].hasError('required')) {
              <mat-error>Orgão emissor é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Celular</mat-label>
              <input matInput placeholder="(00) 00000-0000" formControlName="telefoneResp" mask="(00) 00000-0000">
              @if (addressForm.controls['telefoneResp'].hasError('required')) {
              <mat-error>Celular é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Nome do desbravador</mat-label>
              <input matInput formControlName="nomeDbv">
              @if (addressForm.controls['nomeDbv'].hasError('required')) {
              <mat-error>Nome do desbravador é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Tipo sanguíneo</mat-label>
              <mat-select formControlName="tpSanguineo">
                @for (tipo of tiposSanguineos; track tipo) {
                <mat-option [value]="tipo">
                  {{ tipo }}
                </mat-option>
                }
              </mat-select>
              @if( addressForm.controls['tpSanguineo'].hasError('required')) {
              <mat-error>
                Tipo Sanguíneo e Fator RH é <strong>obrigatório</strong>
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>CPF do desbravador</mat-label>
              <input matInput placeholder="000.000.000-00" formControlName="cpfDbv" mask="000.000.000-00">
              @if (addressForm.controls['cpfDbv'].hasError('required')) {
              <mat-error>CPF é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>RG do desbravador</mat-label>
              <input matInput formControlName="rgDbv">
              @if (addressForm.controls['rgDbv'].hasError('required')) {
              <mat-error>RG é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Orgão emissor</mat-label>
              <input matInput formControlName="oeDbv">
              @if (addressForm.controls['oeDbv'].hasError('required')) {
              <mat-error>Orgão emissor é <strong>obrigatório</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Gostaria de registrar alguma observação?"
              formControlName="observacao"></textarea>
          </mat-form-field>

        </div>

        <mat-card-actions>
          <div class="action">
            <div class="button">
              <!-- <button mat-fab extended ngxPrint printSectionId="print-section" color="primary"> -->
              <button mat-fab extended routerLink='/autorizacao' (click)="submit()" [disabled]="!addressForm.valid"
                color="primary">
                <mat-icon>print</mat-icon>
                AUTORIZAÇÃO
              </button>
            </div>
            <!-- <div class="button">
              <button mat-fab extended routerLink='/home' color="secondary">
                <mat-icon>home</mat-icon>
                VOLTAR
              </button>
            </div> -->
          </div>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</div>