.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.col {
  flex-grow: 1;
  flex-basis: 200;
  
}

.pdf {
  display: none;
}

.action {
  flex: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 20px;
}

